<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Appl<font>iances</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\a1.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>VEGA VHSCC-01 3 In 1 Hair Styler</b></p>
            <!--price-->
            <a href="#" class="price">$33.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\a2.png" alt=""/> 
            <!--Details-->
            <p><b>Elchim 8th Sense Run Lilyrose Edition</b></p>
            <!--price-->
            <a href="#" class="price">$38.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/a3.png" alt=""/> 
            <!--Details-->
            <p><b>Ikonic Professional Hair Staightner</b></p>
            <!--price-->
            <a href="#" class="price">$27.6</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/a4.png" alt=""/> 
            <!--Details-->
            <p><b>Ikonic Professional Glam Straightner </b></p>
            <!--price-->
            <a href="#" class="price">$36.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/a5.png" alt=""/> 
            <!--Details-->
            <p><b>Ikonic Professional Curling </b></p>
            <!--price-->
            <a href="#" class="price">$28.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/a6.png" alt=""/> 
                <!--Details-->
                <p><b>Nova NHS 901 Temperature Control Hair Straightner </b></p>
                <!--price-->
                <a href="#" class="price">$28.12</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
             <!--image 2-->
             <img src="assets\q1.png" alt=""/> 
             <!--Details-->
            <p><b>Braun Face 810 Facial Epilator</b></p>
            <!--price-->
            <a href="#" class="price">$38.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
    </div>
    <div class="p-box">
        <!--image 3-->
        <img src="/assets/q2.png" alt=""/> 
        <!--Details-->
        <p><b>VEGA VHSS-03 Miss Versatile Styling Kit</b></p>
        <!--price-->
        <a href="#" class="price">$27.6</a>
        <!--buy-btn-->
        <a href="#" class="buy-btn">Add To Cart</a>
    </div>
    <div class="p-box">
         <!--image 4-->
         <img src="/assets/q3.png" alt=""/> 
         <!--Details-->
         <p><b>VEGA 2 In 1 Foot Smoother & Massager </b></p>
         <!--price-->
         <a href="#" class="price">$36.72</a>
         <!--buy-btn-->
         <a href="#" class="buy-btn">Add To Cart</a>
    </div>
    <div class="p-box">
         <!--image 5-->
         <img src="/assets/q4.png" alt=""/> 
         <!--Details-->
         <p><b>MCaffeine Jade Roller - Face Massager</b></p>
         <!--price-->
         <a href="#" class="price">$28.33</a>
         <!--buy-btn-->
         <a href="#" class="buy-btn">Add To Cart</a>
    </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/q5.png" alt=""/> 
            <!--Details-->
            <p><b>Le Marbelle Jade Gua Sha Stone Face Massager</b></p>
            <!--price-->
            <a href="#" class="price">$28.12</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
    </div>
    <div class="p-box">
        <!--image 5-->
        <img src="/assets/q6.png" alt=""/> 
        <!--Details-->
        <p><b>Nykaa Naturals CleanTouch 2 in 1 Face Brush & Massager </b></p>
        <!--price-->
        <a href="#" class="price">$28.12</a>
        <!--buy-btn-->
        <a href="#" class="buy-btn">Add To Cart</a>
    </div>
    <div class="p-box">
         <!--image 5-->
         <img src="/assets/q7.png" alt=""/> 
         <!--Details-->
         <p><b>Smoothskin Bare Plus Ultrafast Ipl Laser </b></p>
        <!--price-->
        <a href="#" class="price">$28.12</a>
        <!--buy-btn-->
        <a href="#" class="buy-btn">Add To Cart</a>
</div>



        
        
        

