<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Offers<font> %</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\u1.jpg"> 
            <div class="item-name">
            <!--Details-->
            <p><b>upto 30% off</b></p>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\u2.jpg" alt=""/> 
            <!--Details-->
            <p><b>upto 50% off</b></p>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/u3.jpg" alt=""/> 
            <!--Details-->
            <p><b>min 30% off</b></p>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/u4.jpg" alt=""/> 
            <!--Details-->
            <p><b>min 30% off</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/u5.jpg" alt=""/> 
            <!--Details-->
            <p><b>upto 40% off</b></p>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/u6.jpg" alt=""/> 
            <!--Details-->
            <p><b>upto 40% off</b></p>
        </div>
        
        


