<div id="outerbox">
    <div id="sliderbox">
        <img [src]="url1">
        <img [src]="url2">
        <img [src]="url3">
        <img [src]="url6">

    </div>
</div>
<div class="product">
    <div class="p-heading">
        <h3>festival<font> offers</font></h3>
    </div>
    <div class="product-container">
        <div class="p-box">
            <img src="assets\h15.png"> 
            <div class="item-name">
            <p><b>fogg for womens <br>100ml</b></p>
            <a href="#" class="price">$10.3</a>
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <img src="assets\h25.png" alt=""/> 
            <p><b>schwarzkopf for hair <br>(50gm) </b></p>
            <a href="#" class="price">$14.2</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/h35.png" alt=""/> 
            <p><b>herbs hair oil for growth <br>1ml</b></p>
            <a href="#" class="price">$10.91</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/h45.png" alt=""/> 
            <p><b>love earth makeup <br>(30gm)</b></p>
            <a href="#" class="price">$16.72</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/h55.png" alt=""/> 
            <p><b>smudge proof muskara <br>(10gm)</b></p>
            <a href="#" class="price">$18.33</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div>
            <div class="p-box">
                <img src="/assets/h65.png" alt=""/> 
                <p><b>wow naturals <br>500ml</b></p>
                <a href="#" class="price">$22.33</a>
                <a href="#" class="buy-btn">Add To Cart</a>

        </div>
      