<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Bath <font> and </font> Body</h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\b1.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Nykaa Wanderlust Body Lotion(200ml)</b></p>
            <!--price-->
            <a href="#" class="price">$13.7</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\b2.png" alt=""/> 
            <!--Details-->
            <p><b>NIVEA Nourishing Body Milk Lotion(100ml) </b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/s3.png" alt=""/> 
            <!--Details-->
            <p><b>Aveeno Daily Moisturizing Lotion (300ml)</b></p>
            <!--price-->
            <a href="#" class="price">$17.5</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/b4.png" alt=""/> 
            <!--Details-->
            <p><b>Nykaa Wanderlust Shower Gel (200ml)</b></p>
            <!--price-->
            <a href="#" class="price">$16.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/b7.png" alt=""/> 
            <!--Details-->
            <p><b>Natural Wash Avocado Body Moisturizing (300ml)</b></p>
            <!--price-->
            <a href="#" class="price">14.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/s10.png" alt=""/> 
                <!--Details-->
                <p><b>The Moms Co. Natural Body sruber (200ml)</b></p>
                <!--price-->
                <a href="#" class="price">$12.33</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>
         </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\g1.png" alt=""/> 
            <!--Details-->
            <p><b>Soulflower Bath Salt - Lavender(30gm) </b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/g2.png" alt=""/> 
            <!--Details-->
            <p><b>The Body Care Chocolate Wax (300ml)</b></p>
            <!--price-->
            <a href="#" class="price">$17.5</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/g3.png" alt=""/> 
            <!--Details-->
            <p><b>Sara Brazilian White Chocolate Wax (200ml)</b></p>
            <!--price-->
            <a href="#" class="price">$16.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/g4.png" alt=""/> 
            <!--Details-->
            <p><b>Beardo Hair Growth Oil(100ml)</b></p>
            <!--price-->
            <a href="#" class="price">14.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/g5.png" alt=""/> 
                <!--Details-->
                <p><b>Nykaa Naturals Lavender Essential Oil(200ml) </b></p>
                <!--price-->
                <a href="#" class="price">$12.33</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>

        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\g6.png" alt=""/> 
            <!--Details-->
            <p><b>Sanfe  Facial Hair Removal(200ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/g7.png" alt=""/> 
            <!--Details-->
            <p><b>Cinthol Morning Dew Perfumed (100ml) </b></p>
            <!--price-->
            <a href="#" class="price">$17.5</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/g8.png" alt=""/> 
            <!--Details-->
            <p><b>Yardley Perfumed Talc(200ml)</b></p>
            <!--price-->
            <a href="#" class="price">$16.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/g9.png" alt=""/> 
            <!--Details-->
            <p><b>Pee Safe Natural Intimate Wash(100ml)</b></p>
            <!--price-->
            <a href="#" class="price">14.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        

