<div class="product">
    <div class="p-heading">
        <h3>Hair<font>Care</font></h3>
    </div>
    <div class="product-container">
        <div class="p-box">
            <img src="assets\7.png"> 
            <div class="item-name">
            <p><b> Oil Shampoo(100ml)</b></p>
            <a href="#" class="price">$13.3</a>
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <img src="assets\8.png" alt=""/> 
            <p><b>LOreal Professionnel  Shampoo (200ml)</b></p>
            <a href="#" class="price">$18.2</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/12.png" alt=""/> 
            <p><b>WOW Coconut hair Conditioner (300ml)</b></p>
            <a href="#" class="price">$17.26</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/10.png" alt=""/> 
            <p><b>Bajaj Almond Drops (200ml)</b></p>
            <a href="#" class="price">$14.72</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/11.png" alt=""/> 
            <p><b>WOW Skin Science  Hair Oil(200ml)</b></p>
            <a href="#" class="price">$18.33</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/13.png" alt=""/>
            <p><b>SP Luxe Oil For Keratin Protection(100ml)</b></p>
            <a href="#" class="price">$12.4</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <img src="assets\r1.png"> 
                <div class="item-name">
                <p><b>Kama Ayurveda Organic Indigo Powder(200ml)</b></p>
                <a href="#" class="price">$13.3</a>
                <a href="#" class="buy-btn">Add To Cart</a>
                </div>
            </div>
            <div class="p-box">
                <img src="assets\r2.png" alt=""/> 
                <p><b>Schwarzkopf Professional fix dry hair(300ml)</b></p>
                <a href="#" class="price">$18.2</a>
                <a href="#" class="buy-btn">Add To Cart</a>
            </div>
            <div class="p-box">
                <img src="/assets/r3.png" alt=""/> 
                <p><b>Sebastian Professional Re-Shaper Hairspray(200ml)</b></p>
                <a href="#" class="price">$17.26</a>
                <a href="#" class="buy-btn">Add To Cart</a>
            </div>
            <div class="p-box">
                <img src="/assets/r4.png" alt=""/> 
                <p><b>Curl Up Curl Defining Cream(50ml) </b></p>
                <a href="#" class="price">$14.72</a>
                <a href="#" class="buy-btn">Add To Cart</a>
            </div>
            <div class="p-box">
                <img src="/assets/r88.png" alt=""/> 
                <p><b>L'Oreal Professionnel  Repair Shampoo(100ml)</b></p>
                <a href="#" class="price">$18.33</a>
                <a href="#" class="buy-btn">Add To Cart</a>
            </div>
            <div class="p-box">
                <img src="/assets/r6.png" alt=""/>
                <p><b>Schwarzkopf Professional Mad About Curls(500ml)</b></p>
                <a href="#" class="price">$12.4</a>
                <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        <div class="p-box">
            <img src="/assets/r7.png" alt=""/> 
            <p><b>Protouch Led Hair Growth Therapy Combl</b></p>
            <a href="#" class="price">$14.72</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/r8.png" alt=""/> 
            <p><b>L'Oreal Professionnel Absolut Repair Hair Mask(200ml)</b></p>
            <a href="#" class="price">$18.33</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/r9.png" alt=""/>
            <p><b>Purna Gummies for hair growth(200gm)</b></p>
            <a href="#" class="price">$12.4</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            