<div class="our-brand ">
<div class="brand-img">
    <img src="\assets\sale 3.gif"/>
</div>
<div class="brand-text">
    <h3>New Sales </h3>
    <h4><font> Hurry Up....</font></h4>
    <br>
</div>
</div>
<div class="product">
    <div class="p-heading">
        <h3>New<font> arrivals</font></h3>
    </div>
    <div class="product-container">
        <div class="p-box">
            <img src="assets\gaya3.jpg"> 
            <div class="item-name">
            <p><b>Wanderlust Spray<br>(50ml)</b></p>
            <a href="#" class="price">$23.3</a>
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <img src="assets\gaya4.jpg" alt=""/> 
            <p><b>Just Herbs Lip and Cheek <br>(50gm)</b></p>
            <a href="#" class="price">$18.2</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/gaya1.jpg" alt=""/> 
            <p><b>Maybelline New York Blush<br>(30gm) </b></p>
            <a href="#" class="price">$17.6</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="assets\gaya2.jpg"> 
            <div class="item-name">
            <p><b>Maybelline New York Liner<br>(1g)</b></p>
            <a href="#" class="price">$23.3</a>
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <img src="assets\gaya5.jpg" alt=""/> 
            <p><b>Estee Lauder Modern Parfum<br>(50ml)</b></p>
            <a href="#" class="price">$18.2</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <img src="/assets/y5.jpg" alt=""/> 
            <p><b>womens perfume <br>(100ml)</b></p>
            <a href="#" class="price">$17.6</a>
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        