<div class="h1">
<p>Shop by hair type</p>
</div>
<img src="assets\volume2.jpg">
<section class="subscribe-container">
    <!--heading-->
    <h3>Reach out to us</h3>
    <!--input-->
    <div class="subscribe-input">
    <input type="email" placeholder="Blushon@gmail.com"/>
    <!--btn-->
    <a href="#" class="subscribe-btn">Submit</a>
    </div>
</section>
<footer>
    <h3 style="text-align: center;">BLUSH ON</h3>
<!--footer menu-->
<ul class="footer-menu">
    <li><a href="#">skin</a></li>
    <li><a href="#">fragrance</a></li>
    <li><a href="#">Kidscare</a></li>
    <li><a href="#">hair</a></li>
    <li><a href="#">makeup</a></li>
</ul>
</footer>
<div class="ga">
<img src="assets\sale.jpg">
</div>