<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Make<font> Up</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\m7.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>LANEIGE Lip Sleeping Mask Berry(20gm)</b></p>
            <!--price-->
            <a href="#" class="price">$23.32</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\m2.png" alt=""/> 
            <!--Details-->
            <p><b>Nykaa dark Cosmetics Eyes (30gm)</b></p>
            <!--price-->
            <a href="#" class="price">$18.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/m3.png" alt=""/> 
            <!--Details-->
            <p><b>Nykaa Ultra Matte Mini Lipstick(20gm)</b></p>
            <!--price-->
            <a href="#" class="price">$17.62</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/m4.png" alt=""/> 
            <!--Details-->
            <p><b>Nykaa Matte  Face Compact Powder(40gm) </b></p>
            <!--price-->
            <a href="#" class="price">$11.7</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/m5.png" alt=""/> 
            <!--Details-->
            <p><b>Maybelline New York Fit Me Matte (20gm)</b></p>
            <!--price-->
            <a href="#" class="price">$12.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 6-->
                <img src="/assets/m6.png" alt=""/> 
                <!--Details-->
                <p><b>Ultra Liquid Foundation(100ml) </b></p>
                <!--price-->
                <a href="#" class="price">$18.6</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>
         </div>
         <div class="p-box">
            <!--image 2-->
            <img src="assets\z1.png" alt=""/> 
            <!--Details-->
            <p><b> Makeup Fixer Spray - Matte Finish(50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/z2.png" alt=""/> 
            <!--Details-->
            <p><b>Manish Malhotra Beauty Eyeshadow (20gm)</b></p>
            <!--price-->
            <a href="#" class="price">$17.5</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/z3.png" alt=""/> 
            <!--Details-->
            <p><b>Innisfree No Sebum  Powder(60gm) </b></p>
            <!--price-->
            <a href="#" class="price">$16.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/mas.jpg" alt=""/> 
            <!--Details-->
            <p><b>Kay Beauty Ultra Black mascara(20gm)</b></p>
            <!--price-->
            <a href="#" class="price">14.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\z6.png" alt=""/> 
            <!--Details-->
            <p><b>Insight Cosmetics HD Conceal(40gm)</b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/z7.png" alt=""/> 
            <!--Details-->
            <p><b>Nykaa Nail Enamel Polish(30ml)</b></p>
            <!--price-->
            <a href="#" class="price">$11.5</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/z8.png" alt=""/> 
            <!--Details-->
            <p><b>GUBB Beauty Surprise Kit(200gm) </b></p>
            <!--price-->
            <a href="#" class="price">$13.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/z9.png" alt=""/> 
            <!--Details-->
            <p><b>Majestique Compact Mirror </b></p>
            <!--price-->
            <a href="#" class="price">14.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            