
<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Skin<font>Care</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\1.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Neutrogena Bright Boost Micro Polish(50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$13.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\2.png" alt=""/> 
            <!--Details-->
            <p><b>Neutrogena Oil-Free Acne Wash(100ml)</b></p>
            <!--price-->
            <a href="#" class="price">$18.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/3.png" alt=""/> 
            <!--Details-->
            <p><b>Aloe Fresh Soothing Foam Cleanser(20ml)</b></p>
            <!--price-->
            <a href="#" class="price">$17.6</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/4.png" alt=""/> 
            <!--Details-->
            <p><b>Simple Kind  Facial Wash(30ml)</b></p>
            <!--price-->
            <a href="#" class="price">$12.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/5.png" alt=""/> 
            <!--Details-->
            <p><b>Neutrogena  Micro Polish (50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$18.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="/assets/6.png" alt=""/> 
            <!--Details-->
            <p><b>Innisfree Green Tea Foam Cleanser(40ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.4</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/s11.png" alt=""/> 
            <!--Details-->
            <p><b>Lakme Absolute face cream(30ml)</b></p>
            <!--price-->
            <a href="#" class="price">$12.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/s2.png" alt=""/> 
            <!--Details-->
            <p><b>Olay Retinol Night Cream (60ml)</b></p>
            <!--price-->
            <a href="#" class="price">$18.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="/assets/s13.png" alt=""/> 
            <!--Details-->
            <p><b>The Moms Night Cream (50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.4</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="/assets/s4.png" alt=""/> 
            <!--Details-->
            <p><b>inner thigh serum oil(60ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.4</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/s5.png" alt=""/> 
            <!--Details-->
            <p><b>Body Code Bum and Back Cream(40ml)</b></p>
            <!--price-->
            <a href="#" class="price">$12.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="/assets/s55.png" alt=""/> 
            <!--Details-->
            <p><b>Mamaearth Vitamin C Sleeping Mask(50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$12.4</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="/assets/s33.png" alt=""/> 
            <!--Details-->
            <p><b>Nykaa Face Brush and oil(40ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.4</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/s22.png" alt=""/> 
            <!--Details-->
            <p><b> Facial Cleansing Brush</b></p>
            <!--price-->
            <a href="#" class="price">$12.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 6-->
            <img src="/assets/s66.png" alt=""/> 
            <!--Details-->
            <p><b>Dot & Key AHA Exfoliating Sleeping Mask(50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$14.1</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>