<ul class="blist">
    <a routerLink="skin">Skin</a>
    <a routerLink="hair">Hair</a>
    <a routerLink="fragrance">Fragrance</a>
    <a routerLink="bath">Bath & Body Care</a>
    <a routerLink="makeup">Make Up</a>
    <a routerLink="appliance">Appliance</a>
    <a routerLink="kidscare">Kids Care</a>
    <a routerLink="offers">Offers %</a>
</ul>
<div class="v">
    <img src="\assets\gif3.gif"/>

</div>
<div class="my">
    <img src="\assets\gif1.gif"/>
</div>
<br><br><br>
<div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Alert !!</strong>Black Big Sale  On Blush on.....  From  aug1 - aug 6  Hurry up Don't Miss this Chance
  </div>
  <br>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Alert !!</strong> From Next Month Onwards Blush On Launches New beauty products . . . . .
  </div>
  <br>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Alert !!</strong>Big sale on BLUSH ON Starts from tomorrow to all beauty products flat upto 25% off.......
  </div>
  <br>
 
 