<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Frag<font>rances</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\a.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Nykaa Love Struck Perfume 50ml</b></p>
            <!--price-->
            <a href="#" class="price">$23.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\c.png" alt=""/> 
            <!--Details-->
            <p><b>Skinn By Titan Sheer Perfume 100ml</b></p>
            <!--price-->
            <a href="#" class="price">$21.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/e.png" alt=""/> 
            <!--Details-->
            <p><b>BVLGARI Rose Blossom Eau De Toilette 30ml</b></p>
            <!--price-->
            <a href="#" class="price">$17.66</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/g.png" alt=""/> 
            <!--Details-->
            <p><b>Narciso Rodriguez For Her Musc De Parfum 70ml</b></p>
            <!--price-->
            <a href="#" class="price">$22.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/f.png" alt=""/> 
            <!--Details-->
            <p><b>Yves Saint Laurent Libre Eau De Parfum 100ml</b></p>
            <!--price-->
            <a href="#" class="price">$28.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/f1.png" alt=""/> 
                <!--Details-->
                <p><b>BVLGARI Rose Goldea Eau De Parfum 500ml</b></p>
                <!--price-->
                <a href="#" class="price">$2763</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>

        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\c1.png" alt=""/> 
            <!--Details-->
            <p><b>Forest Essentials Travel Size Body Mist 300ml</b></p>
            <!--price-->
            <a href="#" class="price">$21.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/c2.png" alt=""/> 
            <!--Details-->
            <p><b>Tom Ford Ombre Leather 40ml</b></p>
            <!--price-->
            <a href="#" class="price">$17.66</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/c3.png" alt=""/> 
            <!--Details-->
            <p><b>BVLGARI Man In Black Eau De Parfum 50ml</b></p>
            <!--price-->
            <a href="#" class="price">$22.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/c4.png" alt=""/> 
            <!--Details-->
            <p><b>Victoria's Secret Candy Noir Mist 100ml</b></p>
            <!--price-->
            <a href="#" class="price">$28.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/c5.png" alt=""/> 
                <!--Details-->
                <p><b>Moi by Nykaa Raison D'Etre Eau de Perfume 60ml</b></p>
                <!--price-->
                <a href="#" class="price">$20.63</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>

        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\c6.png" alt=""/> 
            <!--Details-->
            <p><b>Jo Malone London Wood  Cologne (200ml)</b></p>
            <!--price-->
            <a href="#" class="price">$21.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/c7.png" alt=""/> 
            <!--Details-->
            <p><b>Bath & Body Works Into The Night 3-wick Candle</b></p>
            <!--price-->
            <a href="#" class="price">$17.66</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/c8.png" alt=""/> 
            <!--Details-->
            <p><b>Bath & Body Works  Rose 3-wick Candle</b></p>
            <!--price-->
            <a href="#" class="price">$22.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/c9.png" alt=""/> 
            <!--Details-->
            <p><b>Yves Saint Laurent Libre Eau De Parfu</b></p>
            <!--price-->
            <a href="#" class="price">$28.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        
        
