<div class="product">
    <!--heading-->
    <div class="p-heading">
        <h3>Kid's<font> Care</font></h3>
    </div>
    <!--product-box-container-->
    <div class="product-container">
        <!--box-->
        <div class="p-box">
            <!--image 1-->
            <img src="assets\k1.png"> 
            <div class="item-name">
            <!--Details-->
            <p><b>Johnson's Active Kids Shiny Drops Shampoo</b></p>
            <!--price-->
            <a href="#" class="price">$23.3</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
            </div>
        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\k2.png" alt=""/> 
            <!--Details-->
            <p><b>johnsons baby care shampoo</b></p>
            <!--price-->
            <a href="#" class="price">$21.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/k3.png" alt=""/> 
            <!--Details-->
            <p><b>pilgrim white lotus baby face cream</b></p>
            <!--price-->
            <a href="#" class="price">$19.6</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/k4.png" alt=""/> 
            <!--Details-->
            <p><b>neutrogena hydro boost water</b></p>
            <!--price-->
            <a href="#" class="price">$26.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/k5.png" alt=""/> 
            <!--Details-->
            <p><b>cocomo natural mineral oil</b></p>
            <!--price-->
            <a href="#" class="price">$22.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/k6.png" alt=""/> 
                <!--Details-->
                <p><b>Roots & Herbs Kid's care Body Wash</b></p>
                <!--price-->
                <a href="#" class="price">$18.33</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>

        </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\p2.png" alt=""/> 
            <!--Details-->
            <p><b>Clarins Tonic Body Treatment Oil (100ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 3-->
            <img src="/assets/p3.png" alt=""/> 
            <!--Details-->
            <p><b>Bare Body Essentials Stretch Mark Cream(50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$17.5</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 4-->
            <img src="/assets/p4.png" alt=""/> 
            <!--Details-->
            <p><b>Mamaearth Rich Body Creme For Stretch Marks(50ml)</b></p>
            <!--price-->
            <a href="#" class="price">$16.72</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
        <div class="p-box">
            <!--image 5-->
            <img src="/assets/p1.png" alt=""/> 
            <!--Details-->
            <p><b>Mamaearth Rich Body Cream for kids (100ml)</b></p>
            <!--price-->
            <a href="#" class="price">14.33</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
            <div class="p-box">
                <!--image 5-->
                <img src="/assets/l3.png" alt=""/> 
                <!--Details-->
                <p><b>Beebaby Twin Handle supper(100ml)</b></p>
                <!--price-->
                <a href="#" class="price">$12.33</a>
                <!--buy-btn-->
                <a href="#" class="buy-btn">Add To Cart</a>
         </div>
        <div class="p-box">
            <!--image 2-->
            <img src="assets\l5.png" alt=""/> 
            <!--Details-->
            <p><b>Chicco Silicon Bottle Brush(100ml)</b></p>
            <!--price-->
            <a href="#" class="price">$15.2</a>
            <!--buy-btn-->
            <a href="#" class="buy-btn">Add To Cart</a>
        </div>
     